 <header>
        <%= image_tag("logo.png", :alt => "iStim - a resource for DBS", :class => "round") %>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "Patient Sign In", '#' %></li>
            <li><%= link_to "iStim Researchers", '#' %></li>
          </ul>
        </nav>
      </header>
